.reportDetails {
    border: solid 2px black;
    margin: 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #dde4ee;
}

.reportDetails button {
    padding: 5px 40px;
}

.reportsContainer{
    width: 100%;
}