html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

h1,
p {
    text-align: center;
}

.registrationContainer,
.signInContainer,
.resetPasswordContainer,
.welcomeContainer,
.aboutContainer,
.userDetailsContainer {
    border: 2px solid black;
    padding: 0 20px 20px 20px;
    width: 450px;
}

.signInContainer {
    margin-top: 25px;
}

form {
    display: flex;
    flex-direction: column;
}

form label,
button {
    margin-top: 15px;
}

/* ========== Sidebar ============== */

.sideBar {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: 10rem;
    background-color: #2d3748;
    padding: 2.5rem 0.5rem;
    align-items: start;
}

.headerLogo {
    color: white;
    margin-left: 0.85rem;

}

.navButtonContainer {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.navItem {
    cursor: pointer;
    width: 100%;
}

.navItem a {
    padding: 0.85rem;
    cursor: pointer;
    text-decoration: none;
    color: #718096;
    display: block;
}

.navItem a:hover {
    color: black;
    background-color: #a0aec0;
    padding: 0.85rem;
    display: block;
    border: none;
    border-radius: 0.5rem;
}


.logOutBtn {
    border: none;
    background-color: transparent;
    text-align: center;
    color: #718096;
text-align: left;
    margin-left: 0.85rem;
    padding: 0.4rem;

}

.logOutBtn:hover {
    cursor: pointer;
    color: #a0aec0;
}